/*style sheet in SPA -Single page application*/
/*Lakmal jayawardhana*/

.headline_part1 {
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: black;
}

.headline_part2{
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #7742f7;
}

.fa-solid{
    font-size: 40px;
    color: #c7ecee;
}