#main{
    /*width:1000px;*/
    /*float:left;*/
    /*!*my*!*/
    /*left: 287px;*/
    /*top: 107px;*/
    /*position: absolute;*/

/*new css*/
    width: 955px;
    /* float: left; */
    /* left: 244px; */
    /* top: 107px; */
    position: absolute;
    text-align: center;
    margin: auto;
    display: inline-block;
    top: 0;
    left: 162px;
    bottom: 0;
    right: 0;

}
#board{

    background:url(asests/board.gif)no-repeat;
    background-size:cover;
    width:650px;
    height:550px;
    float:left;

    /**/

    margin-top: 14px;
    margin-left: 7px;
    left:100px;
    top: 100px;
}



#uselesstext1{
     float:left;
     padding-left:10px;
     padding-right:10px;
 }


/*Icons*/
.pawns{
    width:30px;
    height:30px;
    border-radius:20px;
    position:absolute;
}