#main{
    width:1000px;
    float:left;
    /*my*/
    left: 287px;
    top: 107px;
    position: absolute;
}
#board{

    background:url(asests/board.gif)no-repeat;
    background-size:cover;
    width:650px;
    height:550px;
    float:left;

    /**/

    margin-top: 14px;
    margin-left: 7px;
    left:100px;
    top: 100px;
}



#uselesstext1{
     float:left;
     padding-left:10px;
     padding-right:10px;
 }