


body>section{
    width:500px;
    height: 500px;
    background-color: #c7ecee;
  position: absolute;
    right: 400px;
}
body>section>div:nth-child(2) {
    width: 500px;
    height: 55px;
    background-color: white;
}





/*body>section>section>button{*/

/*    width :5px;*/
/*    height: 5px;*/

/*}*/




