
header > nav > article {
    position: absolute;
    right: 14px;
    top: 20px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;

    text-decoration: none;
    color: #FFFFFF;
    padding-right: 10px;
}

body > header > nav > article> a{
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 10px;

}


/*.headerNavigation{*/
/*    font-family: Consolas;*/
/*    position: absolute;*/
/*    font-weight: 550;*/
/*    font-size: 17px;*/

/*    color: #3C3535;*/
/*    top: 15px;*/
/*    left: 1004px;*/

/*}*/


.mainSection {
    height: 1000px;
    width: 100%;
}

.mainText01{
   font-family:poppins;
    font-weight: bold;

}



/*scroling arrow styles*/

body > div:nth-child(2) {   /*  img moving and doesnot scrolling*/
    width: 70px;
    height: 70px;
    position: fixed;
    top: 710px;
    right: 5px;
    z-index: 9;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;

    background: linear-gradient(to top, #ffffff 11%, #ff99cc 100%);

}

/*add image to div go top up*/
body > div:nth-child(2) >a>img{
    width: 50px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}



body > div:nth-child(3) {   /*  img moving and doesnot scrolling*/
    width: 70px;
    height: 70px;
    position: fixed;
    top: 800px;
    right: 4px;
    z-index: 9;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;

    background: linear-gradient(to top, #ffffff 11%, #ff99cc 100%);

}

/*add image to div go top up*/
body > div:nth-child(3) >a>img{
    width: 50px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}




.mainText {
    position: absolute;
    width: 850px;
    height: 165px;
    top: 400px;
    left: 0px;
}


#mainImg {
    width: 1500px;
    height: 1000px;
    opacity: 10;

}


.aboutmeSection {
    height: 1000px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}




#span001{
 color: #F44530;

}
.span_font_color{
    color: #014E8F;
}














.testimonials {
    height: 200px;
    width: 200px;
    background-color: rgba(74, 71, 71, 0.6);
}


.footer {
    height: 60px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);

}