

.headerNavigation{
    font-family: Consolas;
    position: absolute;
    font-weight: 550;
    font-size: 17px;

    color: #3C3535;
    top: 15px;
    left: 1004px;

}

#mainImg{
width: 1500px;
    height: 1000px;
    opacity: 10;

}



.publicSection{
    height: 1000px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}




.testimonials{
    height: 200px;
    width: 200px;
    background-color: rgba(74, 71, 71, 0.6);
}



.footer{
    height: 60px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);

}