/*head navigattions*/
header > nav > article {
    position: absolute;
    right: 14px;
    top: 20px;
    font-weight: 600;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';


    color: #FFFFFF;
    padding-right: 10px;

    opacity: 99%;
}

body > header > nav > article > a {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 10px;

}


/*.headerNavigation{*/
/*    font-family: Consolas;*/
/*    position: absolute;*/
/*    font-weight: 550;*/
/*    font-size: 17px;*/

/*    color: #3C3535;*/
/*    top: 15px;*/
/*    left: 1004px;*/

/*}*/




/*scroling arrow styles*/

body > div:nth-child(2) { /*  img moving and doesnot scrolling*/
    width: 70px;
    height: 70px;
    position: fixed;
    top: 710px;
    right: 5px;
    z-index: 9;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;

    background: linear-gradient(to top, #ffffff 11%, #ff99cc 100%);

}

/*add image to div go top up*/
body > div:nth-child(2) > a > img {
    width: 50px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


body > div:nth-child(3) { /*  img moving and doesnot scrolling*/
    width: 70px;
    height: 70px;
    position: fixed;
    top: 800px;
    right: 4px;
    z-index: 9;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;

    background: linear-gradient(to top, #ffffff 11%, #ff99cc 100%);

}

/*add image to div go top up*/
body > div:nth-child(3) > a > img {
    width: 50px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*end question and arrow lofo styles*/

.main {
    background-color: #1e2225;
}

/*Main  page section */


.mainSection {
    height: 1000px;
    width: 100%;
}

.mainText01 {
    font-family: poppins;
    font-weight: bold;

}





.mainText {
    position: absolute;
    width: 850px;
    height: 165px;
    top: 400px;
    left: 0px;
}


#mainImg {
    width: 1500px;
    height: 1000px;
    opacity: 90%;

}


/*about me*/
.aboutmeSection {
    height: 1000px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}


#span001 {
    color: white;
    font-weight: 650;
    font-family: 'Poppins';
    font-size: 36px;

}


/************************************************/




/*Services*/

.servicesSection{
    height:900px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}





/*My Slills*/



.skills{

    height:900px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}

#skill_headlines1{
    position: relative;
    color: #FFFFFF;
    font-size:19px;
    font-family: 'Poppins';
    font-weight: 55;
    left: 1200px;

}
#skill_headlines2{
    position: relative;
    color: #FFFFFF;
    font-size:19px;
    font-family: 'Poppins';
    font-weight: 55;
    left: 1200px;
}

#skill_headlines3{
    position: relative;
    color: #FFFFFF;
    font-size:19px;
    font-family: 'Poppins';
    font-weight: 55;
    left: 1200px;
}







/*My Projects*/

.myprojects{
    height: 1000px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);

}



main > section:nth-child(5) > section:nth-child(2) {

    border: 10px brown;
    display: flex;
    position: relative;
    top: 20px;
    left: 70px;
    /*height: 400px;*/
    width: 90vw;

}
/*.img{*/
/*    width: 100px;*/
/*    height: 220px;*/
/*    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
/*    position: relative;*/
/*    left: 74px;*/
/*    top: 120px;*/
/*    border: 10px yellow;*/
/*}*/


main > section:nth-child(5) > section:nth-child(2) > div {
    border: 1px solid orange;
    width: 40%;
    height: 250px;
}

main > section:nth-child(5) > section:nth-child(2) > div:nth-child(1) > a:nth-child(1)>img {
    width: 270px;
    height: 180px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 74px;
    top: 120px;
    /*border: 1px yellow;*/
}

main>section:nth-child(5)>section:nth-child(2)>div:nth-child(2)>a:nth-child(1)>img{
    width: 270px;
    height: 180px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 74px;
    top: 95px;

}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(3)>a:nth-child(1)>img{
    width: 270px;
    height:180px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 90px;
    top: 120px;

}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(4)>a:nth-child(1)>img{
    width: 270px;
    height: 180px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    left: 80px;
    top: 120px;

}









/*MyJourney*/

.myJourney{

    height:1000px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}






/*Portfolio*/

.portfolio{
    height:1000px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}










/*Testimonials*/

.class_testimonials{
    height:1000px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}




.testimonials {
    height: 200px;
    width: 200px;
    background-color: rgba(74, 71, 71, 0.6);
}






/*Get In Touch*/


.getInTouch{
    height:750px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);
}






/*footer*/
.footer {
    height: 60px;
    width: 100%;
    background-color: rgba(74, 71, 71, 0.6);

}






/*Publlic styles*/


.span_font_color {
    color: #e736d5;
}

.Headlines {
 left: 600px;
    position: absolute;
    color: #FFFFFF;
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: 600;
  display: inline-block;
    text-align: center;
    margin: auto;

}

