
#Home>section:nth-child(1)>section:nth-child(1)>div>p{


margin-left: 140px;

}

#Home>section:nth-child(1)>section:nth-child(1)>div{

     margin-top: 50px;
     /*border: 1px solid red;*/


}
#Home>section:nth-child(1)>section:nth-child(2)>div {
    /* border: 1px solid red; */
    background-color: #68BFFF;
    height: 250px;
    margin-left: 81px;
    margin-top: 114px;
    padding: 14px;
    width: 240px;
}



/*header{*/
/*    !*background-color: red;*!*/
/*    height: 75px;*/

/*}*/

/*header>div{*/
/*    border: 1px solid red;*/
/*}*/

/*main>section{*/
/*    !*background-color: #68BFFF;*!*/
/*    !*height: 400px;*!*/
/*}*/




/*main>section>section:nth-child(2){*/
/*    border: 1px solid red;*/
/*    height: 300px;*/
/*    grid-gap: 10px;*/



/*}*/
/*main>section>section:nth-child(3){*/
/*    border: 1px solid red;*/
/*    height: 300px;*/
/*    grid-gap: 10px;*/
/*  !*margin-left: 40px;*!*/


/*}*/
/*main>section>section:nth-child(4){*/
/*    border: 1px solid red;*/
/*    height: 300px;*/
/*    grid-gap: 10px;*/
/*    margin-left: 40px;*/


/*}*/

/*main>section>section:nth-child(2)>div{*/
/*    border: 1px solid red;*/
/*    height: 50px;*/

/*    background-color: #e736d5;*/


/*}*/

/*main>section>section:nth-child(3)>div{*/
/*    border: 1px solid red;*/
/*    height: 50px;*/

/*    background-color: #e736d5;*/


/*}main>section>section:nth-child(4)>div{*/
/*     border: 1px solid red;*/
/*     height: 50px;*/

/*     background-color: #e736d5;*/


/* }*/

 #Item>div:nth-child(1){
     /*border: 1px solid red;*/

 }
#Item>div:nth-child(2){
      /*border: 1px solid red;*/
       height:200px ;

  }

#Item>table{
    margin-top: 100px;
}



#AddItem{


    height: 200px;
    /*border: 1px solid red;*/

}



#searchItem{
    height: 200px;
    /*border: 1px solid red;*/

}




#Customers>section:nth-child(2){
    margin-left: 33px;
    /*height: 100px;*/
    height: 185px;
}

#Customers>section:nth-child(3){

    height: 100px;
}


#Customers>section:nth-child(4){
    margin-top: 100px;

}



#btnAddCustomer{
    height: 40px;
    /*border: 1px solid red;*/
}

#searchCustomer{
    height: 185px;
    /*border: 1px solid red;*/
}





#PlaceOrder > section:nth-child(2)>div{
    height: 40px;
    /*border: 1px solid red;*/
}


#PlaceOrder > section:nth-child(3)>div{
    height: 40px;
    /*border: 1px solid red;*/
}
#PlaceOrder > section:nth-child(4)>div{
    height: 40px;
    /*border: 1px solid red;*/
}



#PlaceOrder > section:nth-child(5){
    margin-top: 70px;
}






